<!-- CÁMARA DEL SISTEMA - SOLO ADMINISTRADOR (idRol === 1) -->
<ion-item *ngIf="idRol === 1" button detail="false" class="opcion" (click)="abrirVista('configurar-camara')">

  <div class="opcion-icono" slot="start" style="background: rgba(18, 150, 158, 0.15); color: #12969e;">
    <ion-icon name="videocam-outline"></ion-icon>
  </div>

  <ion-label>
    <strong>Cámara del Sistema</strong>
    <span>Habilitar enlace para el equipo</span>
  </ion-label>

  <ion-icon slot="end" name="chevron-forward-outline" class="flecha">
  </ion-icon>
</ion-item>